<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Belgium campus Module</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/}">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container "> 
    <h1>Student Register</h1>

	<a th:href = "@{/showNewRegisterForm}" class="btn btn-primary btn-sm mb-3"> Add Student </a>

	<table class="table table-striped table-responsive">
		<thead >
			<th scope="col">Student name</th>
			<th scope="col">Student address</th>
			<th scope="col">Student email</th>
			<th scope="col">Password</th>
			<th scope="col">Course name</th>
			<th scope="col">Update Student</th>
			<th scope="col">Delete</th>
		</thead>
		<tbody>
			<tr th:each="register : ${listRegister}">
				<td th:text="${register.name}"></td>
				<td th:text="${register.address}"></td>
				<td th:text="${register.email}"></td>
				<td th:text="${register.password}"></td>
				<td th:text="${register.courseName}"></td>
				<td> <a th:href="@{/showFormForUpdate/{id}(id=${register.id})}" class="btn btn-primary">Update</a></td>
				<td> <a th:href="@{/deleteRegister/{id}(id=${register.id})}" class="btn btn-danger">Delete</a></td>
			</tr>
		</tbody>
	</table>    
	</div>
</body>
</html>